@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Roboto:wght@300&display=swap");

 :root {
    --primary-color: #134865;
    --secondary-color: #e0ce78;
    --accent1-color: #0c347a;
    --accent2-color: #000000; 

    --heading-font: 'DM Serif display', serif;
    --paragraph-font: 'Roboto' , serif;

    --nav-background-color: #e0ce78;
    --nav-link-colour: #000000;
    --nav-hover-link-color: #134865;
    --nav-hover-background-color: #0c347a;
}

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f5f5f5;
    color: #333;
}
body, h1, h2, p, table {
    margin: 0;
    padding: 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    
    
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

/* Header styles */
header {
    background-color: #548df0;
    color: #60f10c;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: 120px 1fr 2fr;
}

/* Class Selectors */
.horizon {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
}

header img {
    max-width: 100%;
    margin: 0 0.25rem 0 1rem;
	height: auto; /* Adjust as needed */
    
}



.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 100%;
}

nav {
    display: flex;
    justify-content: center;
    
    text-align: center;
    
}

.navigation a {
	display: block;
	color: navy;
	padding: 20px;
	text-decoration: none;
}

.navigation a:hover {
	color: #134865;
	font-weight: 700;
	text-decoration: underline;
}


nav a {
    color: #a8d20e;
    background-color: #f2f2f0;
    text-decoration: none;
    margin-left: 20px;
}

/* Main styles */
.main {
    padding: 20px;
}

.hero {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.hero img {
    max-width: 100%;
    display: block;
    
}

.hero h1 {
    margin-top: 20px;
}

.image-container {
    position: relative;
    display: flex;
    align-items: center;
}


h1 {
    position:absolute;
    margin-bottom: 10px;
    top: 5%;
    left: 40%;
    transform: translate(-50%,-50%);
    color: #333333;
    font-size: 32px;
    text-align: center;
    z-index: 1;
}


article p {
    margin-top: 20px;
    text-align: justify;
    font-size: 16px;
    font-weight: 700;
    color: rgb(16, 5, 5);
    max-width: 500px;
    position: absolute;
    top: 70%;
    left: 20%;
}

 article img {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 70%;  
    left: 60%;
    
    /* mask-image: linear-gradient(to bottom, transparent, black); */
    
} 

.content {
    display: flex;
    align-items: center;
    gap: 10px;
}




section {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
}

section h2, h3, p, li {
    margin-bottom: 10px;
    text-align: center;
}

/* section img {
    width: 100%;
    margin-bottom: 10px;
} */

section img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: auto;
} 

.spec {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.looks {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.spec h2 {
    position: absolute;
  top: 157%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.looks h2 {
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
}

.spec figure {
    margin-right: 20px;
    display: inline-block;
    margin: 0 10px;
}
.looks figure {
    margin-right: 20px;
    display: inline-block;
    margin: 0 10px; 
}

.spec figure:last-child {
    margin-right: 0;
}

.spec img {
    width: 150px;
    height: auto;
    justify-content: space-between;
}
.looks img {
    width: 150px;
    height: auto;
    justify-content: space-between;
    place-items: center;

}

.spec figcaption {
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.content {
    flex: 0 0 calc(50% - 20%);
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
/* Footer styles */
footer {
    background-color: #f3f0f0;
    color: #150707;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

footer p {
    margin-bottom: 10px;
}

.sociallinks a {
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    width: 30px;
    height: 30px;
      margin-left: 10px;  
}

.sociallinks {
    margin-top: 20px;
}

/* styling for contact us form */
label, input, button, select, textarea {
    font-family: Roboto, Arial, sans-serif;
}
label {
    text-align: right;
    padding-right: 1rem;
}


form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

.move {
    align-items: center;
}

fieldset {
    display: grid;
    grid-gap: 0.5rem;
    margin: 1rem;
    border: 1px solid rgba(219, 34, 34, 0.2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: navy;
    font-size: 1.3em;
}
input[type="checkbox"]  {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

.form-item {
    display:grid;
    align-items: center;
}

.column1 {
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
        margin: 0.1rem 0;
    
}

.column2 {
    grid-template-columns: 1fr 2fr ;
    margin: 0.5rem 0;
}

input,  textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}

button {
    margin: 1rem;
    background-color: navy;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: .75rem;
    font-size: 1.2rem;
}
button:hover {
    background-color: darkgreen;
}

.cta-button {
    display: inline-block;
    background-color: #60f10c;
    color: #eee;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;

}

.cta-button:hover {
    background-color: #555;
}

/* Styles for the text between images */
/* .image-text {
    margin-bottom: 20px;
    text-align: center;
}

.image-text img {
    width: 100%;
    margin-bottom: 10px;
}

.image-text p {
    font-style: italic;
} */

/* .hero {
    position:relative;
}

.hero h1, .hero article {
    position: absolute;
    top: 0;
    left: 0;
    
}

.hero img {
    display: block;
    max-width: 100%;
    height: auto;
    float: right;
}

article img {
    display: block;
    max-width: 100%;
    height: auto; 
    float: left;
}

h1,h2,h3 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white)
}


a {
    text-decoration: none;
}

article {
    background-color: rgba(0,0,0,0,7);
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display:block;
    color: var(--nav-link-colour);
    text-decoration: none;
    padding: 1rem;
}

av a:link, nav a:visited {
    color: var(--nav-hover-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-backgroun-color);
}

 section img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
} 

